{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!--asomefont-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css" integrity="sha512-wDB6AYiYP4FO5Sxieamqy9wtpAY3qdHMqlhZecIEUu1YjkLw5gQf/4ZDgOzmCBAF5SheMjmugkpUSVoUrGbLkQ==" crossorigin="anonymous" />
    <!--maind css-->
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <title>Admind</title>
</head>
<body class="linearbg">
<!--navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h4 class="h3 neon">書店</h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'prestamos' %}"><h4 class="h5">Prestamos</h4></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'usuarios' %}"><h4 class="h5">Usuarios</h4></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'libros' %}"><h4 class="h5">Libros</h4></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="btn-group  px-lg-5">
            <button type="button" class="btn izbt"><i class="fas fa-user-ninja"></i></button>
            <button type="button" class="btn izbt dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><i class="fas fa-user-cog"></i> configuracion</a></li>
              <li><a class="dropdown-item" href="./loginad.html"><i class="fas fa-user-friends"></i> cambiar Usuario</a></li>
              <li><a class="dropdown-item" href="./index.html"><i class="fas fa-user-times"></i> cerrar sesion</a></li>
            </ul>
          </div>
  </nav>
 <!--botones-->
    <div class="container my-4">
        <div class="row">
          <div class="col-lg-1  col-0"></div>
          <div class="col-lg-2  col-2"><button type="button" class="btn btn-success m-2 inbon" data-bs-toggle="modal" data-bs-target="#mnuevolibro"><i class="fas fa-journal-whills icinbon"></i><hr>Nuevo libro</button></div>
          <div class="col-lg-1  col-1"></div>
          <div class="col-lg-2  col-2"><button type="button" class="btn btn-success m-2 inbon" data-bs-toggle="modal" data-bs-target="#mnuevousuario"><i class="fas fa-user-plus icinbon"></i><hr>Nuevo Usuario</button></div>
          <div class="col-lg-1  col-1"></div>
          <div class="col-lg-2  col-2"><button type="button" class="btn btn-success m-2 inbon" data-bs-toggle="modal" data-bs-target="#Mnuevoprestamo"><i class="fab fa-leanpub icinbon"></i><hr>Nuevo prestamo</button></div>
          <div class="col-lg-1  col-1"></div>
          <div class="col-lg-2  col-2"><button type="button" class="btn btn-success m-2 inbon"><i class="fas fa-chart-bar icinbon"></i><hr>Generar informe</button></div>
          <div class="col-lg-1  col-0"></div>
        </div>
    </div>
<!-- Modal N prestamo -->
   <div class="modal fade" id="Mnuevoprestamo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title h3 text-center" id="staticBackdropLabel">Nuevo prestamo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mlb">
        <div class="row m-1">
            <div class="col p-0">
             <input class="form-control" type="text" placeholder="ID #0000" aria-label="readonly loan id" readonly>
            </div>
            <div class="col">
                <div class="form-check form-switch mt-2">
                    <label class="form-check-label" for="flexSwitchCheckCheckedDisabled"><h6 class="h6 text-white">Activo</h6></label>
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>
                  </div>
            </div>
        </div>
        <div class="row m-1">
            <div class="col">
                <label for="start"><h6 class="h6 text-white bgc">fecha de prestamo:</h6></label>

              <input type="date" id="start" name="trip-start"
              value="2021-02-20"
              min="2020-07-20" max="2023-12-31">
            </div>
            <div class="col">
                <label for="start"><h6 class="h6 text-white bgc">fecha de devolucion:</h6></label>

              <input type="date" id="start" name="trip-start"
              value="2021-02-20"
              min="2020-07-20" max="2023-12-31">
            </div>
        </div>
        <div class="row m-1">
            <div class="col">
                <select class="form-select" multiple size="3" aria-label="size 3 select example">
                    <option selected> Libros </option>
                    <option value="1">Libro 1</option>
                    <option value="2">Libro 2</option>
                    <option value="3">Libro 3</option>
                    <option value="4">Libro 4</option>
                    <option value="5">Libro 5</option>
                    <option value="6">Libro 6</option>
                    <option value="7">Libro 7</option>
                    <option value="8">Libro 8</option>
                    <option value="9">Libro 9</option>
                    <option value="10">Libro 10</option>
                  </select>
            </div>
        </div>
        <div class="row m-1">
            <div class="col">
                <select class="form-select mt-3" aria-label="Default select example">
                    <option selected>Usuario</option>
                    <option value="1">usuario 1</option>
                    <option value="2">usuario 2</option>
                    <option value="3">usuario 3</option>
                    <option value="4">usuario 4</option>
                    <option value="5">usuario 5</option>
                    <option value="6">usuario 6</option>
                    <option value="7">usuario 7</option>
                    <option value="8">usuario 8</option>
                    <option value="9">usuario 9</option>
                  </select>
            </div>
        </div>
        <div class="row m-1">
            <div class="col">
                <label for="exampleFormControlTextarea1" class="form-label"><h6 class="h6 text-white bgc">Comentario</h6></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
        <button type="button" class="btn btn-primary mb-2 arttoc"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
        <button type="button" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
      </div>
    </div>
  </div>
   </div>
<!-- Modal user -->
   <div class="modal fade" id="mnuevousuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title h3 text-center" id="staticBackdropLabel">Nuevo usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mub">
        <div class="row m-2">
          <div class="col">
              <select class="form-select mt-2" aria-label="Default select example">
                  <option selected>Tipo De Documento</option>
                  <option value="1">CC</option>
                  <option value="2">CE</option>
                  <option value="3">TI</option>
                </select>
          </div>
          <div class="col">
            <input type="text" class="form-control mt-2" placeholder="N° Documento*" aria-label="Documento">
          </div>
        </div>
        <div class="row m-2">
          <div class="col">
              <input type="text" class="form-control" placeholder="Primer nombre*" aria-label="primer nombre">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Segundo nombre" aria-label="segundo nombre">
            </div>
        </div>
        <div class="row m-2">
          <div class="col">
              <input type="text" class="form-control" placeholder="Primer Apellido*" aria-label="primer apellido">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Segundo Apellido" aria-label="segundo apellido">
            </div>
        </div>
        <div class="row m-2">
          <div class="col">
              <input type="text" class="form-control" placeholder="Direccion*" aria-label="direccion">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Telefono*" aria-label="Telefono">
            </div>
        </div>
        <div class="row m-2">
          <div class="col">
              <h6 class="h6 mt-2 white">Correo --></h6>
            </div>
            <div class="col">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp " placeholder="name@example.com">
            </div>
        </div>
        <div class="row m-2">
          <div class="col">
            <h6 class="h6 mt-2 white ">Contraseña --></h6>
            </div>
            <div class="col">
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
        <button type="button" class="btn btn-primary mb-2 bspu"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
        <button type="button" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
      </div>
    </div>
  </div>
   </div>
<!--modal libro-->
   <div class="modal fade" id="mnuevolibro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title h3 text-center" id="staticBackdropLabel">Nuevo libro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-bgi newbm">
        <div class="row m-1">
          <div class="col p-0">
           <input class="form-control" type="text" placeholder="ID #0000" aria-label="readonly book id" readonly>
          </div>
          <div class="col">
              <div class="form-check form-switch mt-2">
                  <label class="form-check-label" for="flexSwitchCheckCheckedDisabled"><h6 class="h6 ">Disponible</h6></label>
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>
                </div>
          </div>
      </div>
      <div class="row m-1">
          <input class="form-control" type="text" placeholder="Titulo" aria-label="book title">
      </div>
      <div class="row m-1">
          <div class="col p-0">
              <select class="form-select " size="3" aria-label="size 3 select example">
                  <option selected>Autores</option>
                  <option value="1">Autor 1</option>
                  <option value="2">Autor 2</option>
                  <option value="3">Autor 3</option>
                  <option value="4">Autor 4</option>
                  <option value="5">Autor 5</option>
                  <option value="6">Autor 6</option>
                  <option value="7">Autor 7</option>
                  <option value="8">Autor 8</option>
                  <option value="9">Autor 9</option>
                  <option value="10">Autor 10</option>
                </select>
          </div>
          <div class="col">
              <select class="form-select mt-3" aria-label="Default select example">
                  <option selected>Editorial</option>
                  <option value="1">editorial 1</option>
                  <option value="2">editorial 2</option>
                  <option value="3">editorial 3</option>
                  <option value="4">editorial 4</option>
                  <option value="5">editorial 5</option>
                </select>
          </div>
      </div>
      <div class="row m-1">
          <h5 class="h5 text-center">Generos</h5>
          <div class="col">
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  <label class="form-check-label" for="inlineCheckbox1">genero </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                  <label class="form-check-label" for="inlineCheckbox2">genero  </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                  <label class="form-check-label" for="inlineCheckbox3">genero </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  <label class="form-check-label" for="inlineCheckbox1">genero </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                  <label class="form-check-label" for="inlineCheckbox2">genero </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                  <label class="form-check-label" for="inlineCheckbox3">genero </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  <label class="form-check-label" for="inlineCheckbox1">genero </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                  <label class="form-check-label" for="inlineCheckbox2">genero </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                  <label class="form-check-label" for="inlineCheckbox3">genero </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  <label class="form-check-label" for="inlineCheckbox1">genero </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                  <label class="form-check-label" for="inlineCheckbox2">genero </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                  <label class="form-check-label" for="inlineCheckbox3">genero </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  <label class="form-check-label" for="inlineCheckbox1">genero </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                  <label class="form-check-label" for="inlineCheckbox2">genero </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                  <label class="form-check-label" for="inlineCheckbox3">genero </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  <label class="form-check-label" for="inlineCheckbox1">genero </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                  <label class="form-check-label" for="inlineCheckbox2">genero </label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                  <label class="form-check-label" for="inlineCheckbox3">genero </label>
                </div>
          </div>
      </div>
      <div class="row m-1">
          <div class="col">
              <label for="exampleFormControlTextarea1" class="form-label ">Comentario</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
      </div>
      <div class="row m-1">
        <div class="col">
          <label for="formFileSm" class="form-label">Imagen</label>
          <input class="form-control form-control-sm" id="formFileSm" type="file">
        </div>
    </div>
      <div class="row m-1">
          <div class="col">
              <input class="form-control" type="text" placeholder="barcode" aria-label="barcode" disabled>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
        <button type="button" class="btn btn-primary mb-2 arttoc"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
        <button type="button" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
      </div>
    </div>
  </div>
   </div>
<!--widges-->
    <div class="container-fluid m-1">
    <div class="row ">
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-cherry">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Nuevos Usuarios</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                3,243
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span>12.5% <i class="fa fa-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-blue-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-book-reader"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Prestamos</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                15.07k
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span>9.23% <i class="fa fa-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-green-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-archive"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">inventario</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                578
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span>10% <i class="fa fa-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6">
            <div class="card l-bg-orange-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-eye"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Visitas</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                11.61k
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span>2.5% <i class="fa fa-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<!--ultimos prestamos-->
<div class="container-fluid px-3">
  <div><h2 class="h3">Ultimos prestamos</h2></div>
  <table class="table">
    <thead>
      <tr class="table-dark">
        <th scope="col">ID prestamo</th>
        <th scope="col">Fecha prestamo</th>
        <th scope="col">Devolucion</th>
        <th scope="col">Libro</th>
        <th scope="col">Usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>005</td>
        <td>09/02/2021</td>
        <td>16/02/2021</td>
        <td>#1002</td>
        <td>#1113</td>
      </tr>
      <tr>
        <td>002</td>
        <td>02/02/2021</td>
        <td>16/02/2021</td>
        <td>#1453</td>
        <td>#1031</td>
      </tr>
      <tr class="table-success">
        <td>001</td>
        <td>12/12/2020</td>
        <td>30/12/2020</td>
        <td>#1102</td>
        <td>#1805</td>
      </tr>
      <tr class="table-danger">
        <td>004</td>
        <td>05/01/2021</td>
        <td>25/01/2021</td>
        <td>#1723</td>
        <td>#1312</td>
      </tr>
      <tr class="table-warning">
        <td>003</td>
        <td>06/02/2021</td>
        <td>13/02/2021</td>
        <td>#1132</td>
        <td>#1523</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Bootstrap Bundle with Popper javascrip-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>