{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!--asomefont-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css" integrity="sha512-wDB6AYiYP4FO5Sxieamqy9wtpAY3qdHMqlhZecIEUu1YjkLw5gQf/4ZDgOzmCBAF5SheMjmugkpUSVoUrGbLkQ==" crossorigin="anonymous" />
    <!--maind css-->
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <title>Admind</title>
</head>
<body class="linearbg">
<!--navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h4 class="h3 neon">書店</h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'prestamos' %}"><h4 class="h5">Prestamos</h4></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'usuarios' %}"><h4 class="h5">Usuarios</h4></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'libros' %}"><h4 class="h5">Libros</h4></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="btn-group  px-lg-5">
            <button type="button" class="btn izbt"><i class="fas fa-user-ninja"></i></button>
            <button type="button" class="btn izbt dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><i class="fas fa-user-cog"></i> configuracion</a></li>
              <li><a class="dropdown-item" href="./loginad.html"><i class="fas fa-user-friends"></i> cambiar Usuario</a></li>
              <li><a class="dropdown-item" href="{% url 'index' %}"><i class="fas fa-user-times"></i> cerrar sesion</a></li>
            </ul>
          </div>
  </nav>
  {{note}}
 <!--botones-->
    <div class="container my-2">
        <div class="row">
          <div class="col-3 d-flex justify-content-center"><button type="button" class="btn btn-success m-2 inbon" data-bs-toggle="modal" data-bs-target="#mnuevolibro"><i class="fas fa-journal-whills icinbon"></i><hr>Añadir libro</button></div>
          <div class="col-1"></div>
          <div class="col-3 d-flex justify-content-center"><button type="button" class="btn btn-success m-2 inbon" data-bs-toggle="modal" data-bs-target="#mnuevousuario"><i class="fas fa-user-plus icinbon"></i><hr>Añadir Usuario</button></div>
          <div class="col-1"></div>
          <div class="col-3 d-flex justify-content-center"><button type="button" class="btn btn-success m-2 inbon" data-bs-toggle="modal" data-bs-target="#Mnuevoprestamo"><i class="fab fa-leanpub icinbon"></i><hr>Nuevo prestamo</button></div>
          <div class="col-1"></div>
        </div>
    </div>
<!-- Modal N prestamo -->
   <div class="modal fade" id="Mnuevoprestamo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title h3 text-center" id="staticBackdropLabel">Nuevo prestamo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mlb">
        <form action="{% url 'administration' %}" method="post">
        {% csrf_token %}
        <div class="row m-1">
          <div class="col">
            <h6 class="h6 text-white bgc">fecha de prestamo:</h6>
            {% render_field newloan.date_loan type="date" %}
          </div>
          <div class="col">
            <h6 class="h6 text-white bgc">fecha de devolucion:</h6>
            {% render_field newloan.return_date type="date" %}
          </div>
          <div class="col">
            <h6 class="h6 text-white bgc">Estado del prestamo</h6>
            {% render_field newloan.state class="form-select" %}
          </div>
        </div>
        <div class="row m-1">
          <h6 class="h6 text-white bgc">Libros:</h6>
          {% render_field newloan.fk_book class="form-select" %}
        </div>
        <div class="row m-1">
          <h6 class="h6 text-white bgc">Usuario:</h6>
          {% render_field newloan.fk_id_client class="form-select" %}
        </div>
        <div class="row m-1">
          <h6 class="h6 text-white bgc">Comentario</h6>
          {% render_field newloan.coment  class="form-control" rows="3" %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
        <button type="button" class="btn btn-primary mb-2 arttoc"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
        <button type="submit" name="saveloanbtn" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
      </form>
      </div>
    </div>
  </div>
   </div>
<!-- Modal user -->
   <div class="modal fade" id="mnuevousuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title h3 text-center" id="staticBackdropLabel">Añadir usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body mub">
        <form action="{% url 'administration' %}" method="post">
          {% csrf_token %}
          <div class="row m-2">
            <div class="col">
              {% render_field usuarioform.document_user class="form-control" placeholder="Nuemero de documento" %}
            </div>
            <div class="col">
              {% render_field usuarioform.fk_type_document class="form-select" placeholder="tipo de documento" %}
            </div>
          </div>
          <div class="row m-2">
            <div class="col">
              {% render_field usuarioform.first_name class="form-control" placeholder="Primer Nombre" %}
            </div>
            <div class="col">
              {% render_field usuarioform.sec_name class="form-control" placeholder="Segundo Nombre" %}
            </div>
          </div>
          <div class="row m-2">
            <div class="col">
              {% render_field usuarioform.surname class="form-control" placeholder="Primer apellido" %}
            </div>
            <div class="col">
              {% render_field usuarioform.sec_surname class="form-control" placeholder="Segundo apellido" %}
            </div>
          </div>
          <div class="row m-2">
            <div class="col">
              {% render_field usuarioform.password_ad class="form-control" placeholder="contraseña" %}
            </div>
            <div class="col">
              {% render_field usuarioform.email class="form-control" placeholder="correo" %}
            </div>
          </div>
          <div class="row m-2">
            <div class="col">
              {% render_field usuarioform.address class="form-control" placeholder="Direccion" %}
            </div>
            <div class="col">
              {% render_field usuarioform.cell_phone class="form-control" placeholder="telfono" %}
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
        <button type="button" class="btn btn-primary mb-2 bspu"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
        <button type="submit" name="saveuserbtn" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
      </form>
      </div>
    </div>
  </div>
   </div>
<!--modal libro-->
   <div class="modal fade" id="mnuevolibro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title h3 text-center" id="staticBackdropLabel">Nuevo libro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-bgi newbm">
        <form action="{% url 'administration' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row m-1">
            <div class="col">
              <h6 class="h6">Titulo del libro</h6>{% render_field libroform.title class="form-control" placeholder="Titulo del libro" %}
            </div>
            <div class="col">
              <h6 class="h6">Disponible?</h6>{% render_field libroform.availability class="form-control"  %}
            </div>
          </div>
          <div class="row m-1">
            <div class="col">
              <h6 class="h6">Portada</h6>{% render_field libroform.image class="form-control" type="file" %}
            </div>
            <div class="col">
              <h6 class="h6">Informacion del libro</h6>{% render_field libroform.Info class="form-control" rows="4" %}
            </div>
          </div>
          <div class="row m-1">
            <div class="col">
              <h6 class="h6">Seleccione la editorial</h6>{% render_field libroform.fk_editorial class="form-control" %}
            </div>
            <div class="col">
              <h6 class="h6">Seleccione el escritor o escritores</h6>{% render_field libroform.fk_writer class="form-select"  %}
            </div>
          </div>
          <div class="row m-1">
            <h6 class="h6">Seleccione las etiquetas del libro</h6>
            {% render_field libroform.fk_tag class="form-select" %}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
        <button type="button" class="btn btn-primary mb-2 arttoc"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
        <button type="submit" name="savebookbtn" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
      </form>
      </div>
    </div>
  </div>
   </div>
<!--widges-->
    <div class="container-fluid m-1">
    <div class="row ">
        <div class="col-xl-4 col-lg-6">
            <div class="card l-bg-cherry">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Usuarios registrados</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                {{n_u}}
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span>12.5% <i class="fa fa-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="card l-bg-blue-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-book-reader"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Prestamos</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                {{n_l}}
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span>9.23% <i class="fa fa-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12">
            <div class="card l-bg-green-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-archive"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">inventario</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                {{n_b}}
                            </h2>
                        </div>
                        <div class="col-4 text-right">
                            <span>10% <i class="fa fa-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    </div>
<!--ultimos prestamos-->
<div class="container-fluid px-3">
  <div><h2 class="h3">Ultimos prestamos</h2></div>
  <table class="table">
    <thead>
      <tr class="table-dark">
        <th scope="col">ID prestamo</th>
        <th scope="col">Fecha prestamo</th>
        <th scope="col">Devolucion</th>
        <th scope="col">Libro</th>
        <th scope="col">Usuario</th>
      </tr>
    </thead>
    <tbody>
      {% for last in last_l%}
      <tr>
        <td>{{last.id}}</td>
        <td>{{last.date_loan}}</td>
        <td>{{last.return_date}}</td>
        <td>
          <ul>
            {% for book in last.fk_book.all %}
             <li>{{book.title}}</li>
            {% endfor %}
          </ul>
        </td>
        <td>{{last.fk_id_client}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- Bootstrap Bundle with Popper javascrip-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>