{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!--asomefont-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css" integrity="sha512-wDB6AYiYP4FO5Sxieamqy9wtpAY3qdHMqlhZecIEUu1YjkLw5gQf/4ZDgOzmCBAF5SheMjmugkpUSVoUrGbLkQ==" crossorigin="anonymous" />
    <!--maind css-->
    <link rel="stylesheet" href="{% static 'css/infolibro.css' %}">
    <!--icon sh-->
    <link rel="shortcut icon" href="https://www.freeiconspng.com/uploads/retrowave-sun-with-alpha-background-vaporwave-png-27.png">
    <title>info libro</title>
</head>
<body class="stylebackground">
    <header>
        <nav class="navbar navback">
          <div class="container-fluid">
            <img src="https://www.freeiconspng.com/thumbs/vaporwave-png/vaporwave-keyboard-png-8.png" alt="user"  class="bookid"> 
            <h1 class="h1 letter80s">{{book.title}}</h1>
            <div>
                <a href="{% url 'index' %}"><i class=" iconsp fas fa-home fa-2x navbotts"></i></a>
                <a href=""><i class=" iconsp fas fa-question fa-2x navbotts"></i></a>
            </div>
          </div>
        </nav>
    </header>
    <div class="row   mt-4 m-2">
      <div class="col-lg-2">
        <div class=""><img src="{{book.image.url}}" alt="" class="portlibro "></div>
      </div>
      <div class="col-lg-7">
        <div class="binfo m-4">
          <h5>Etiquetas:</h5>
          {% for tag in book.fk_tag.all %}
            {{tag.name_tag}},
          {% endfor %}
          <h5>Autor:</h5>
          <ul>{% for writer in book.fk_writer.all %} <li>{{writer.name_writer}}</li>{% endfor %}</ul>
          <h5>Editorial:</h5>
          {{book.fk_editorial}}
          <br>
          <p>
            {{book.Info}}
          </p>
        </div>
      </div>
      {% if book.availability %}
      <div class="col">
        <div class="singon">
          <h1 class="lettersingon">DIS<span id="offset">PONI</span>BLE</h1>
        </div>
        <br></br>
        <div class="singoff">
          <h1 class="lettersingoff">NO DISPONIBLE</h1>
        </div>
      </div>
      {% else %}
      <div class="col">
        <div class="singoff">
          <h1 class="lettersingoff">DISPONIBLE</h1>
        </div>
        <br></br>
        <div class="singon">
          <h1 class="lettersingon">NO D<span id="offset">ISPON</span>IBLE</h1>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="row m-3">
      <h3 class="h3 titlerb">Libros relacionados</h3>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row mx-4 carurowcol">
              {% for book in ra_books %}
              <div class="col carurowcol">
                <a href="{% url 'infolibro' book.id %}"><img src="{{book.image.url}}" class="caruselp d-block w-100" alt="..."></a>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="carousel-item">
            <div class="row mx-4 carurowcol">
              {% for book in rt_books %}
              <div class="col carurowcol">
               <a href="{% url 'infolibro' book.id %}"> <img src="{{book.image.url}}" class="caruselp d-block w-100" alt="..."></a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <button class="carousel-control-prev botton-carusel" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next botton-carusel" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
<!-- Bootstrap Bundle with Popper javascrip-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>