{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!--ich css-->
    <link rel="stylesheet" href="{% static 'css/libros_css.css' %}">
    <!--asomefont-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css" integrity="sha512-wDB6AYiYP4FO5Sxieamqy9wtpAY3qdHMqlhZecIEUu1YjkLw5gQf/4ZDgOzmCBAF5SheMjmugkpUSVoUrGbLkQ==" crossorigin="anonymous" />
    <title>Libros</title>
</head>
<body class="l-bg-cherry">
<!-- nav bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}"><h4 class="h3 neon">Neo Library</h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'administration' %}"><h5 class="h5">Administracion</h5></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'usuarios' %}"><h5 class="h5">Usuarios</h5></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'prestamos' %}"><h5 class="h5">Prestamos</h5></i></a>
              </li>
              <li>
                <form class="d-flex mx-lg-4 ">
                    <input class="form-control me-2 sch" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success schbtn" type="submit"><i class="fas fa-search"></i></i></button>
                  </form>
              </li>
            </ul>
            <button type="button" class="btn btn-info schbtn mx-3" data-bs-toggle="modal" data-bs-target="#mnuevolibro" ><i class="fas fa-book-open"></i> Nuevo libro</button>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle schbtn" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-cogs"></i> opciones avanzadas
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Ngenero" ><i class="fas fa-plus"></i> Añadir etiqueta</a></li>
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Nautor" ><i class="fas fa-plus"></i> Añadir autor</a></li>
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Neditorial" ><i class="fas fa-plus"></i> Añadir editorial</a></li>
                </ul>
              </div>
          </div>
        </div>
      </nav>
<!--modal nuevo libro-->
      <div class="modal fade" id="mnuevolibro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content ">
            <div class="modal-header">
              <h5 class="modal-title h3 text-center" id="staticBackdropLabel">Nuevo libro</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-bgi newbm">
              <form action="{% url 'libros' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row m-1">
                  <div class="col">
                    <h6 class="h6">Titulo del libro</h6>{% render_field libroform.title class="form-control" placeholder="Titulo del libro" %}
                  </div>
                  <div class="col">
                    <h6 class="h6">Disponible?</h6>{% render_field libroform.availability class="form-control"  %}
                  </div>
                </div>
                <div class="row m-1">
                  <div class="col">
                    <h6 class="h6">Portada</h6>{% render_field libroform.image class="form-control" type="file" %}
                  </div>
                  <div class="col">
                    <h6 class="h6">Informacion del libro</h6>{% render_field libroform.Info class="form-control" rows="4" %}
                  </div>
                </div>
                <div class="row m-1">
                  <div class="col">
                    <h6 class="h6">Seleccione la editorial</h6>{% render_field libroform.fk_editorial class="form-control" %}
                  </div>
                  <div class="col">
                    <h6 class="h6">Seleccione el escritor o escritores</h6>{% render_field libroform.fk_writer class="form-select"  %}
                  </div>
                </div>
                <div class="row m-1">
                  <h6 class="h6">Seleccione las etiquetas del libro</h6>
                  {% render_field libroform.fk_tag class="form-select" %}
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
              <button type="button" class="btn btn-primary mb-2 arttoc"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
              <button type="submit" name="savebookbtn1" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
            </form>
            </div>
          </div>
        </div>
      </div>
<!--modal etiqueta-->
<div class="modal fade" id="Ngenero" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir etiqueta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-tipod newgm">
        <form action="{% url 'libros' %}" method="post">
          {% csrf_token %}
          {% render_field etiquetaform.name_tag class="form-control" placeholder="Nombre de la etiqueta" %}
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
        <button type="button" class="btn btn-primary"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
        <button type="submit" name="tagsavebtn" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
      </form>
      </div>
    </div>
  </div>
</div>
<!--modal autor-->
<div class="modal fade" id="Nautor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir Autor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-tipod newam">
        <form action="{% url 'libros' %}" method="post">
          {% csrf_token %}
        {% render_field escritorform.name_writer class="form-control" placeholder="Nombre del escritor" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
        <button type="button" class="btn btn-primary"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
        <button type="submit" name="writersavebtn" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
      </form>
      </div>
    </div>
  </div>
</div>
<!--modal editorial-->
<div class="modal fade" id="Neditorial" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir Editorial</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-tipod newem">
        <form action="{% url 'libros' %}" method="post">
          {% csrf_token %}
          {% render_field editorialform.name_editorial class="form-control" placeholder="Editorial ejemplo" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
        <button type="button" class="btn btn-primary"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
        <button type="submit" name="editorialsavebtn" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
      </form>
      </div>
    </div>
  </div>
</div>
<!--modal info libro-->
<div class="modal fade" id="minfolibro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title h3 text-center" id="staticBackdropLabel">Info libro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-bgi newbm">
        <form action="{% url 'libros' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row m-1">
            <div class="col">
              <h6 class="h6">Titulo del libro</h6>{% render_field infofrom.title class="form-control" placeholder="Titulo del libro" %}
            </div>
            <div class="col">
              <h6 class="h6">Disponible?</h6>{% render_field infofrom.availability class="form-control"  %}
            </div>
          </div>
          <div class="row m-1">
            <div class="col">
              <h6 class="h6">Portada</h6>{% if infobook.image %}
              <img src="{{infobook.image.url}}" alt="portada" class="card-img-top ifoport" alt="..."><br>
              {% endif %}{% render_field infofrom.image  %}
            </div>
            <div class="col">
              <h6 class="h6">Informacion del libro</h6>{% render_field infofrom.Info class="form-control" %}
            </div>
          </div>
          <div class="row m-1">
            <div class="col">
              <h6 class="h6">Seleccione la editorial</h6>{% render_field infofrom.fk_editorial class="form-control" %}
            </div>
            <div class="col">
              <h6 class="h6">Seleccione el escritor o escritores</h6>{% render_field infofrom.fk_writer class="form-select"  %}
            </div>
          </div>
          <div class="row m-1">
            <h6 class="h6">Seleccione las etiquetas del libro</h6>
            {% render_field infofrom.fk_tag class="form-select" %}
          </div>
      </div>
      <div class="modal-footer">
        <input type="hidden" name="bookid" value={{infobook.id}}>
        <button type="submit" name="deletebookbtn" class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar</button>
        <button type="submit" name="editbookbtn" class="btn btn-warning"><i class="fas fa-edit"></i> Editar</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary mb-2 arttoc"><i class="fas fa-clipboard-check"></i> OK</button>
      </form>
      </div>
    </div>
  </div>
</div>
<!--modal delete book-->
<div class="modal fade" id="mdeletbook" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-delete">
        <form action="{% url 'libros' %}" method="post">
         {% csrf_token %}
         <input type="hidden" name="bookid" value={{d_book.id}}>
        <h4 class="h4">Esta a pundo de eliminar el libro: {{d_book.title}}, Editorial: {{d_book.fk_editorial}} </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" name="confirdeletebtn" class="btn btn-danger">Eliminar</button>
      </form>
      </div>
    </div>
  </div>
</div>
<h2 class="h2">{{note}}</h2>
<!--container books-->
      <div class="container-fluid">
        <div class="row">
          {% for book in books %}
          <div class="card  m-4 mb-2 mx-2" style="width: 18rem;">
            {% if book.image %}
            <img src="{{book.image.url}}" alt="portada {{book.title}} {{book.fk_editorial}}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{book.title}}</h5>
              <ul class="card-tex">
                  <li><h6 class="h6">Etiquetas:</h6> 
                    {% for tag in book.fk_tag.all %}
                      {{tag.name_tag}},
                    {% endfor %}
                  </li>
                  <li><h6 class="h6">Autor:</h6> <ul>{% for writer in book.fk_writer.all %} <li>{{writer.name_writer}}</li>{% endfor %}</ul></li>
                  <li><h6 class="h6">Editorial:</h6> {{book.fk_editorial}}</li>
              </ul>
              {% if book.availability %}
              <span class="badge rounded-pill bg-success"> Disponible</span>
              {% else %}
              <span class="badge rounded-pill bg-danger">No dispoble</span>
              {% endif %}
              <hr>
              <form form action="{% url 'libros' %}" method="get">
                <input name="bookid" type="hidden" value={{book.id}}>
              <button type="submit" name="infobookbtn"class="btn cbtn"><i class="fas fa-info-circle"></i> Info</button>
            </form>
            </div>
          </div>
          {% endfor %}
        </div>    
      </div>
<!-- Bootstrap Bundle with Popper javascrip-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
{% if i %}
  <script>
    var myModal = new bootstrap.Modal(document.getElementById("minfolibro"), {});
    document.onreadystatechange = function () {
    myModal.show();
    };
  </script>
{% endif %}
{% if db %}
  <script>
    var myModal = new bootstrap.Modal(document.getElementById("mdeletbook"), {});
    document.onreadystatechange = function () {
    myModal.show();
    };
  </script>
{% endif %}
</body>
</html>