{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!--ich css-->
    <link rel="stylesheet" href="{% static 'css/libros_css.css' %}">
    <!--asomefont-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css" integrity="sha512-wDB6AYiYP4FO5Sxieamqy9wtpAY3qdHMqlhZecIEUu1YjkLw5gQf/4ZDgOzmCBAF5SheMjmugkpUSVoUrGbLkQ==" crossorigin="anonymous" />
    <title>Libros</title>
</head>
<body class="l-bg-cherry">
<!-- nav bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="./index.html"><h4 class="h3 neon">書店</h4></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./administracion.html"><h5 class="h5">Inicio</h5></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./usuarios.html"><h5 class="h5">Usuarios</h5></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./prestamos.html"><h5 class="h5">Prestamos</h5></i></a>
              </li>
              <li>
                <form class="d-flex mx-lg-4 ">
                    <input class="form-control me-2 sch" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success schbtn" type="submit"><i class="fas fa-search"></i></i></button>
                  </form>
              </li>
            </ul>
            <button type="button" class="btn btn-info schbtn mx-3" data-bs-toggle="modal" data-bs-target="#mnuevolibro" ><i class="fas fa-book-open"></i> Nuevo libro</button>
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle schbtn" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-cogs"></i> opciones avanzadas
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Ngenero" ><i class="fas fa-plus"></i> Añadir genero</a></li>
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Nautor" ><i class="fas fa-plus"></i> Añadir autor</a></li>
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Neditorial" ><i class="fas fa-plus"></i> Añadir editorial</a></li>
                </ul>
              </div>
          </div>
        </div>
      </nav>
<!--modal nuevo libro-->
      <div class="modal fade" id="mnuevolibro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content ">
            <div class="modal-header">
              <h5 class="modal-title h3 text-center" id="staticBackdropLabel">Nuevo libro</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body m-bgi newbm">
              <div class="row m-1">
                <div class="col p-0">
                 <input class="form-control" type="text" placeholder="ID #0000" aria-label="readonly book id" readonly>
                </div>
                <div class="col">
                    <div class="form-check form-switch mt-2">
                        <label class="form-check-label" for="flexSwitchCheckCheckedDisabled"><h6 class="h6 ">Disponible</h6></label>
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>
                      </div>
                </div>
            </div>
            <div class="row m-1">
                <input class="form-control" type="text" placeholder="Titulo" aria-label="book title">
            </div>
            <div class="row m-1">
                <div class="col p-0">
                    <select class="form-select " size="3" aria-label="size 3 select example">
                        <option selected>Autores</option>
                        <option value="1">Autor 1</option>
                        <option value="2">Autor 2</option>
                        <option value="3">Autor 3</option>
                        <option value="4">Autor 4</option>
                        <option value="5">Autor 5</option>
                        <option value="6">Autor 6</option>
                        <option value="7">Autor 7</option>
                        <option value="8">Autor 8</option>
                        <option value="9">Autor 9</option>
                        <option value="10">Autor 10</option>
                      </select>
                </div>
                <div class="col">
                    <select class="form-select mt-3" aria-label="Default select example">
                        <option selected>Editorial</option>
                        <option value="1">editorial 1</option>
                        <option value="2">editorial 2</option>
                        <option value="3">editorial 3</option>
                        <option value="4">editorial 4</option>
                        <option value="5">editorial 5</option>
                      </select>
                </div>
            </div>
            <div class="row m-1">
                <h5 class="h5 text-center">Generos</h5>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">genero </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">genero  </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">genero </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">genero </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">genero </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">genero </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">genero </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">genero </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">genero </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">genero </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">genero </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">genero </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">genero </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">genero </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">genero </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">genero </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <label class="form-check-label" for="inlineCheckbox2">genero </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                        <label class="form-check-label" for="inlineCheckbox3">genero </label>
                      </div>
                </div>
            </div>
            <div class="row m-1">
                <div class="col">
                    <label for="exampleFormControlTextarea1" class="form-label ">Comentario</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="row m-1">
              <div class="col">
                <label for="formFileSm" class="form-label">Imagen</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
              </div>
          </div>
            <div class="row m-1">
                <div class="col">
                    <input class="form-control" type="text" placeholder="barcode" aria-label="barcode" disabled>
                </div>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
              <button type="button" class="btn btn-primary mb-2 arttoc"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
              <button type="button" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
            </div>
          </div>
        </div>
      </div>
<!--modal genero-->
<div class="modal fade" id="Ngenero" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Genero</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-tipod newgm">
        <div class="row m-2">
          <div class="col">
            <input class="form-control mt-2" type="text" placeholder="ID #0000" aria-label="readonly genere id" readonly>
            </div>
            <div class="col">
              <input type="text" class="form-control mt-2" placeholder="Nombre genero*" aria-label="segundo apellido">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
        <button type="button" class="btn btn-primary"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
        <button type="button" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
      </div>
    </div>
  </div>
</div>
<!--modal autor-->
<div class="modal fade" id="Nautor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Autor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-tipod newam">
        <div class="row m-2">
          <div class="col">
            <input class="form-control mt-2" type="text" placeholder="ID #0000" aria-label="readonly genere id" readonly>
            </div>
            <div class="col">
              <input type="text" class="form-control mt-2" placeholder="Nombre autor*" aria-label="segundo apellido">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
        <button type="button" class="btn btn-primary"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
        <button type="button" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
      </div>
    </div>
  </div>
</div>
<!--modal editorial-->
<div class="modal fade" id="Neditorial" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva Editorial</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-tipod newem">
        <div class="row m-2">
          <div class="col">
            <input class="form-control mt-2" type="text" placeholder="ID #0000" aria-label="readonly genere id" readonly>
            </div>
            <div class="col">
              <input type="text" class="form-control mt-2" placeholder="Nombre editorial*" aria-label="segundo apellido">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
        <button type="button" class="btn btn-primary"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
        <button type="button" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
      </div>
    </div>
  </div>
</div>
<!--container books-->
      <div class="container-fluid">
          <div class="row">
            <div class="card  m-4 mb-2 mx-2" style="width: 18rem;">
                <img src="{% static 'images/books/portada_2_veinte_mil_leguas_de_vuaje_submarino.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Veinte mil leguas de viaje submarino</h5>
                  <ul class="card-tex">
                      <li>Genero: <span class="badge bg-primary">fantasia</span>
                        <span class="badge bg-secondary">drama</span></li>
                      <li>Autor: Julio verne</li>
                      <li>Editorial: perro amarillo</li>
                  </ul>
                  <span class="badge rounded-pill bg-danger">No disponible</span>
                  <hr>
                  <a href="./error.html" class="btn cbtn "><i class="fas fa-info-circle"></i> Info</a>
                </div>
              </div>
              <div class="card  m-4 mb-2 mx-2" style="width: 18rem;">
                <img src="{% static 'images/books/portada_2_La_vuelta_al_mundo_en_80_dias.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">La vuelta al mundo en 80 dias</h5>
                  <ul class="card-text">
                      <li>Genero: <span class="badge bg-success">Aventura</span> <span class="badge bg-info text-dark">Comedia</span> <span class="badge bg-dark">Novela</span> </li>
                      <li>Autor: Julio verne</li>
                      <li>Editorial: perro espacial </li>
                  </ul>
                  <span class="badge rounded-pill bg-success"> disponible</span>
                  <hr>
                  <a href="./error.html" class="btn cbtn "><i class="fas fa-info-circle"></i> Info</a>
                </div>
              </div>
              <div class="card  m-4 mb-2 mx-2" style="width: 18rem;">
                <img src="{% static 'images/books/portada_1_viaje_centro_de_la-tierra.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Viaje al centro de la tierra</h5>
                  <ul class="card-text">
                    <li>Genero: <span class="badge bg-success">Aventura</span> <span class="badge bg-primary">fantasia</span></li>
                    <li>Autor: Julio verne </li>
                    <li>Editorial: Planeta </li>
                </ul>
                <span class="badge rounded-pill bg-success"> disponible</span>
                <hr>
                  <a href="./error.html" class="btn cbtn "><i class="fas fa-info-circle"></i> Info</a>
                </div>
              </div>
              <div class="card  m-4 mb-2 mx-2" style="width: 18rem;">
                <img src="{% static 'images/books/portada_2_viaje_centro_de_la-tierra.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Viaje al centro de la tierra</h5>
                  <ul class="card-text">
                    <li>Genero: <span class="badge bg-success">Aventura</span> <span class="badge bg-primary">fantasia</span></li>
                    <li>Autor: Julio verne</li>
                    <li>Editorial: Gato negro</li>
                </ul>
                <span class="badge rounded-pill bg-danger">No disponible</span>
                  <hr>
                  <a href="./error.html" class="btn cbtn "><i class="fas fa-info-circle"></i> Info</a>
                </div>
              </div>
              <div class="card  m-4 mb-2 mx-2" style="width: 18rem;">
                <img src="{% static 'images/books/portada_2_de_la_tierra_a_la_luna.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">De la tierra a la luna</h5>
                  <ul class="card-text">
                    <li>Genero: <span class="badge bg-warning text-dark">suspenso</span> <span class="badge bg-primary">fantasia</span></li>
                    <li>Autor: Julio verne </li>
                    <li>Editorial: Azteca </li>
                </ul>
                <span class="badge rounded-pill bg-success"> disponible</span>
                <hr>
                  <a href="./error.html" class="btn cbtn "><i class="fas fa-info-circle"></i> Info</a>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="card  m-4 mb-2 mx-2" style="width: 18rem;">
                <img src="{% static 'images/books/portada_El_gran_diseño.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">El gran diseño</h5>
                  <ul class="card-tex">
                      <li>Genero: <span class="badge bg-primary">fantasia</span>
                        <span class="badge bg-secondary">drama</span></li>
                      <li>Autor: Stephen Hawking, Leonard Mlodinow</li>
                      <li>Editorial: perro amarillo</li>
                  </ul>
                  <span class="badge rounded-pill bg-danger">No disponible</span>
                  <hr>
                  <a href="./error.html" class="btn cbtn "><i class="fas fa-info-circle"></i> Info</a>
                </div>
              </div>
              <div class="card  m-4 mb-2 mx-2" style="width: 18rem;">
                <img src="{% static 'images/books/portada_Desayuno_con_particulas.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Desayuno con particulas</h5>
                  <ul class="card-text">
                      <li>Genero: <span class="badge bg-success">Aventura</span> <span class="badge bg-info text-dark">Comedia</span> <span class="badge bg-dark">Novela</span> </li>
                      <li>Autor:  Sonia Fernández-Vidal, Francesc Miralles</li>
                      <li>Editorial: perro espacial </li>
                  </ul>
                  <span class="badge rounded-pill bg-success"> disponible</span>
                  <hr>
                  <a href="./error.html" class="btn cbtn "><i class="fas fa-info-circle"></i> Info</a>
                </div>
              </div>
              <div class="card  m-4 mb-2 mx-2" style="width: 18rem;">
                <img src="{% static 'images/books/portada_el_universo_elegante.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">El universo elegante</h5>
                  <ul class="card-text">
                    <li>Genero: <span class="badge bg-success">Aventura</span> <span class="badge bg-primary">fantasia</span></li>
                    <li>Autor: Brian B. Greene </li>
                    <li>Editorial: Planeta </li>
                </ul>
                <span class="badge rounded-pill bg-success"> disponible</span>
                <hr>
                  <a href="./error.html" class="btn cbtn "><i class="fas fa-info-circle"></i> Info</a>
                </div>
              </div>
              <div class="card  m-4 mb-2 mx-2" style="width: 18rem;">
                <img src="{% static 'images/books/portada_anatomia_artistica_2.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Anatomia artistica 2</h5>
                  <ul class="card-text">
                    <li>Genero: <span class="badge bg-success">Aventura</span> <span class="badge bg-primary">fantasia</span></li>
                    <li>Autor: Michel Lauricella</li>
                    <li>Editorial: Gato negro</li>
                </ul>
                <span class="badge rounded-pill bg-danger">No disponible</span>
                  <hr>
                  <a href="./error.html" class="btn cbtn "><i class="fas fa-info-circle"></i> Info</a>
                </div>
              </div>
              <div class="card  m-4 mb-2 mx-2" style="width: 18rem;">
                <img src="{%static 'images/books/portada_3_de_la_tierra_a_la_luna.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">De la tierra a la luna</h5>
                  <ul class="card-text">
                    <li>Genero: <span class="badge bg-warning text-dark">suspenso</span> <span class="badge bg-primary">fantasia</span></li>
                    <li>Autor: Julio verne </li>
                    <li>Editorial: Azteca </li>
                </ul>
                <span class="badge rounded-pill bg-success"> disponible</span>
                <hr>
                  <a href="./error.html" class="btn cbtn "><i class="fas fa-info-circle"></i> Info</a>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="card  m-4 mb-2 mx-2" style="width: 18rem;">
                <img src="{% static 'images/books/portada_3_viaje_centro_de_la-tierra.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Viaje al centro de la tierra</h5>
                  <ul class="card-tex">
                      <li>Genero: <span class="badge bg-primary">fantasia</span>
                        <span class="badge bg-secondary">drama</span></li>
                      <li>Autor: julio verne</li>
                      <li>Editorial: perro amarillo</li>
                  </ul>
                  <span class="badge rounded-pill bg-danger">No disponible</span>
                  <hr>
                  <a href="./error.html" class="btn cbtn "><i class="fas fa-info-circle"></i> Info</a>
                </div>
              </div>
              <div class="card  m-4 mb-2 mx-2" style="width: 18rem;">
                <img src="{% static 'images/books/portada-archipielago_gulag.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Archipielago gulag</h5>
                  <ul class="card-text">
                      <li>Genero: <span class="badge bg-success">Aventura</span> <span class="badge bg-info text-dark">Comedia</span> <span class="badge bg-dark">Novela</span> </li>
                      <li>Autor: Aleksandr Solzhenitsyn </li>
                      <li>Editorial: perro espacial </li>
                  </ul>
                  <span class="badge rounded-pill bg-success"> disponible</span>
                  <hr>
                  <a href="./error.html" class="btn cbtn "><i class="fas fa-info-circle"></i> Info</a>
                </div>
              </div>
              <div class="card  m-4 mb-2 mx-2" style="width: 18rem;">
                <img src="{% static 'images/books/portada_1_veinte_mil_leguas_de_vuaje_submarino.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Veinte mil lenguas de viaje submarino</h5>
                  <ul class="card-text">
                    <li>Genero: <span class="badge bg-success">Aventura</span> <span class="badge bg-primary">fantasia</span></li>
                    <li>Autor: Julio verne </li>
                    <li>Editorial: Planeta </li>
                </ul>
                <span class="badge rounded-pill bg-success"> disponible</span>
                <hr>
                  <a href="./error.html" class="btn cbtn "><i class="fas fa-info-circle"></i> Info</a>
                </div>
              </div>
              <div class="card  m-4 mb-2 mx-2" style="width: 18rem;">
                <img src="{% static 'images/books/portada_1_veinte_mil_leguas_de_vuaje_submarino.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Veinte mil leguas de viaje submarino</h5>
                  <ul class="card-text">
                    <li>Genero: <span class="badge bg-success">Aventura</span> <span class="badge bg-primary">fantasia</span></li>
                    <li>Autor: Julio verne</li>
                    <li>Editorial: Gato negro</li>
                </ul>
                <span class="badge rounded-pill bg-danger">No disponible</span>
                  <hr>
                  <a href="./error.html" class="btn cbtn "><i class="fas fa-info-circle"></i> Info</a>
                </div>
              </div>
              <div class="card  m-4 mb-2 mx-2" style="width: 18rem;">
                <img src="{% static 'images/books/portada_1_de_la_tierra_a_la_luna.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">De la tierra a la luna</h5>
                  <ul class="card-text">
                    <li>Genero: <span class="badge bg-warning text-dark">suspenso</span> <span class="badge bg-primary">fantasia</span></li>
                    <li>Autor: Julio verne </li>
                    <li>Editorial: Azteca </li>
                </ul>
                <span class="badge rounded-pill bg-success"> disponible</span>
                <hr>
                  <a href="./error.html" class="btn cbtn "><i class="fas fa-info-circle"></i> Info</a>
                </div>
              </div>
          </div>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-dark">1</button>
              <button type="button" class="btn btn-dark">2</button>
              <button type="button" class="btn btn-dark">3</button>
              <button type="button" class="btn btn-dark">4</button>
            </div>
          </div>
      </div>
<!-- Bootstrap Bundle with Popper javascrip-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>