{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!--asomefont-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css" integrity="sha512-wDB6AYiYP4FO5Sxieamqy9wtpAY3qdHMqlhZecIEUu1YjkLw5gQf/4ZDgOzmCBAF5SheMjmugkpUSVoUrGbLkQ==" crossorigin="anonymous" />
    <!--maind css-->
    <link rel="stylesheet" href="{% static 'css/mprestamos.css' %}">
    <!--icon sh-->
    <link rel="shortcut icon" href="https://www.freeiconspng.com/uploads/retrowave-sun-with-alpha-background-vaporwave-png-27.png">
    <title>Mis prestamos</title>
</head>
<body class="linearbg">
    <header>
        <nav class="navbar retro">
          <div class="container-fluid retro">
            <h1 class="h1 letter"><img src="https://i.pinimg.com/originals/5f/58/b6/5f58b675f469bcdb420420d1be901a76.png" alt="user"  class="usuarioi"> {{client.fk_id_user.first_name}} {{client.fk_id_user.surname}}</h1><!--mejorable?-->
            <a href="{% url 'index' %}"><i class=" iconsp fas fa-home fa-2x"></i></a>
            <a href=""><i class=" iconsp fas fa-question fa-2x"></i></a>
          </div>
        </nav>
    </header>
    <!-- Modal -->
<div class="modal fade" id="infoloan" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title h3 text-center" id="staticBackdropLabel">Prestamo</h5> 
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row m-1">
          {% render_field ifoform.state|attr:"disabled"|attr:"class=form-select" %}
        </div>
        <div class="row m-1">
            <div class="col">
              <label for="start" ><h6 class="h6 text-white bgc">fecha de prestamo:</h6></label>
             {% render_field ifoform.date_loan|attr:"disabled"|attr:"type=date"  %}
            </div>
            <div class="col">
                <label for="start" ><h6 class="h6 text-white bgc">fecha de devolucion:</h6></label>
                {% render_field ifoform.return_date|attr:"disabled"|attr:"type=date"  %}
            </div>
        </div>
        <div class="row m-1">
            <div class="col">
              <label for="exampleFormControlTextarea1" class="form-label"><h6 class="h6 text-white bgc">Libro(s)</h6></label>
              {% render_field ifoform.fk_book|attr:"disabled"|attr:"class=form-select" %}
            </div>
        </div>
        <div class="row m-1">
            <div class="col">
              <label for="exampleFormControlTextarea1" class="form-label"><h6 class="h6 text-white bgc">Usuario</h6></label>
              {% render_field ifoform.fk_id_client|attr:"disabled"|attr:"class=form-select" %}
            </div>
        </div>
        <div class="row m-1">
            <div class="col">
                <label for="exampleFormControlTextarea1" class="form-label"><h6 class="h6 text-white bgc">Comentario</h6></label>
                {% render_field ifoform.coment|attr:"disabled"|attr:"class=form-control" rows=3 %}
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success mb-2 b_ayuda"><i class="fas fa-question"></i> Ayuda</button>
        <button type="button" class="btn btn-danger b_ok" data-bs-dismiss="modal"><i class="fab fa-cloudsmith"></i> Ok</button>
      </div>
    </div>
  </div>
</div> 
    <div class="container-fluid px-3">
        <div><h2 class="h3 neon_text">Ultimos prestamos </h2></div>
        
        <table class="table">
          <thead>
            <tr class="table-dak tabpres">
              <th scope="col">ID prestamo</th>
              <th scope="col">Fecha prestamo</th>
              <th scope="col">Devolucion</th>
              <th scope="col">Libro</th>
              <th scope="col">Ver</th>
            </tr>
          </thead>
          <tbody class="tabpres">
            {% for loan in c_loans %}
            <tr>
              <td>{{loan.id}}</td>
              <td>{{loan.date_loan}}</td>
              <td>{{loan.return_date}}</td>
              <td><ul>
                {% for book in loan.fk_book.all %}
                 <li>{{book.title}}</li>
                {% endfor %}
              </ul></td>
              <td>
                <form action="">
                 <input type="hidden"  name="loanid" value={{loan.id}}>
                 <button type="submit" name="smloanbtn" class="btn">
                <i class="far fa-eye ieye"></i>
                </button>
              </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
<!-- Bootstrap Bundle with Popper javascrip-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
{% if i %}
  <script>
    var myModal = new bootstrap.Modal(document.getElementById("infoloan"), {});
    document.onreadystatechange = function () {
    myModal.show();
    };
  </script>
{% endif %} 
</body>
</html>