{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!--mine css-->
    <link rel="stylesheet" href="{% static 'css/prestamos_css.css' %}">
    <!--asomefont-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css" integrity="sha512-wDB6AYiYP4FO5Sxieamqy9wtpAY3qdHMqlhZecIEUu1YjkLw5gQf/4ZDgOzmCBAF5SheMjmugkpUSVoUrGbLkQ==" crossorigin="anonymous" />
    <title>Prestamos</title>
</head>
<body>
    <!--navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><h4 class="h3 neon">書店</h4></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'administration' %}"><h5 class="h5">Inicio</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'libros' %}"><h5 class="h5">Libros</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'usuarios' %}"><h5 class="h5">Usuarios</h5></i></a>
          </li>
          <li>
            <form class="d-flex mx-lg-4 ">
                <input class="form-control me-2 sch" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success schbtn" type="submit"><i class="fas fa-search"></i></i></button>
              </form>
          </li>
        </ul>
        <button type="button" class="btn btn-info schbtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fab fa-bandcamp"></i> Nuevo prestamo</button>
      </div>
    </div>
  </nav>
<!-- Modal nuevo prestamo -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title h3 text-center" id="staticBackdropLabel">Nuevo prestamo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'prestamos' %}" method="post">
          {% csrf_token %}
        <div class="row m-1">
          <div class="col">
            <h6 class="h6 text-white bgc">fecha de prestamo:</h6>
            {% render_field newloan.date_loan type="date" %}
          </div>
          <div class="col">
            <h6 class="h6 text-white bgc">fecha de devolucion:</h6>
            {% render_field newloan.return_date type="date" %}
          </div>
          <div class="col">
            <h6 class="h6 text-white bgc">Estado del prestamo</h6>
            {% render_field newloan.state class="form-select" %}
          </div>
        </div>
        <div class="row m-1">
          <h6 class="h6 text-white bgc">Libros:</h6>
          {% render_field newloan.fk_book class="form-select" %}
        </div>
        <div class="row m-1">
          <h6 class="h6 text-white bgc">Usuario:</h6>
          {% render_field newloan.fk_id_client class="form-select" %}
        </div>
        <div class="row m-1">
          <h6 class="h6 text-white bgc">Comentario</h6>
          {% render_field newloan.coment  class="form-control" rows="3" %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
        <button type="button" class="btn btn-primary mb-2 arttoc"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
        <button type="submit" name="loansavebtn" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
      </form>
      </div>
    </div>
  </div>
</div> 
<!--modal info loan-->
<div class="modal fade" id="infoloanmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title h3 text-center" id="staticBackdropLabel">prestamo # {{infoloan.id}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'prestamos' %}" method="post">
          {% csrf_token %}
        <div class="row m-1">
          <div class="col">
            <h6 class="h6 text-white bgc">fecha de prestamo:</h6>
            {% render_field ifoform.date_loan  %}
          </div>
          <div class="col">
            <h6 class="h6 text-white bgc">fecha de devolucion:</h6>
            {% render_field ifoform.return_date  %}
          </div>
          <div class="col">
            <h6 class="h6 text-white bgc">Estado del prestamo</h6>
            {% render_field ifoform.state class="form-select" %}
          </div>
        </div>
        <div class="row m-1">
          <h6 class="h6 text-white bgc">Libros:</h6>
          {% render_field ifoform.fk_book class="form-select" %}
        </div>
        <div class="row m-1">
          <h6 class="h6 text-white bgc">Usuario:</h6>
          {% render_field ifoform.fk_id_client class="form-select" %}
        </div>
        <div class="row m-1">
          <h6 class="h6 text-white bgc">Comentario</h6>
          {% render_field ifoform.coment  class="form-control" rows="3" %}
        </div>
      </div>
      <div class="modal-footer">
        <input type="hidden"  name="loanid" value={{infoloan.id}}>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"> Ok</button>
        <button type="submit" name="savemodloanbtn" class="btn btn-primary mb-2 arttoc"><i class="fas fa-save"></i> Guardar </button>
        <button type="submit" name="deleteloanbtn" class="btn btn-danger mb-2"><i class="fas fa-trash"></i> Eliminar</button>
      </form>
      </div>
    </div>
  </div>
</div> 
<!--modal delete loan-->
<div class="modal fade" id="mdeleteloan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-delete">
        <form action="{% url 'prestamos' %}" method="post">
         {% csrf_token %}
         <input type="hidden" name="bookid" value={{d_loan.id}}>
        <h4 class="h4">Esta a pundo de eliminar el prestamo:{{d_loan.id}} </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" name="confirdeletebtn" class="btn btn-danger">Eliminar</button>
      </form>
      </div>
    </div>
  </div>
</div>
{{note}}
  <div class="container-fluid mt-2">
    <table class="table">
      <thead>
        <tr class="table-dark">
          <th scope="col">ID</th>
          <th scope="col">USUARIO</th>
          <th scope="col">LIBRO(S)</th>
          <th scope="col">FECHA DE PRESTAMO</th>
          <th scope="col">FECHA DE DEVOLUCION</th>
          <th scope="col">ESTADO</th>
          <th scope="col">OPCIONES</th>
        </tr>
      </thead>
      <tbody>
        {% for loan in loans %}
          <tr>
              <td>{{loan.id}}</td>
              <td>{{loan.fk_id_client}}</td>
              <td>
                <ul>
                  {% for book in loan.fk_book.all %}
                   <li>{{book.title}}</li>
                  {% endfor %}
                </ul>
              </td>
              <td>{{loan.date_loan}}</td>
              <td>{{loan.return_date}}</td>
              <td>{{loan.state}}</td>
              <td><div class="btn-group" role="group" aria-label="Basic example">
                <form action="{% url 'prestamos' %}" method="get">
                  <input type="hidden"  name="loanid" value={{loan.id}}>
                  <button type="submit" name="smloanbtn" class="btn btn-warning lgbntse m-1"><i class="far fa-eye"></i><i class="fas fa-pen"></i></button>
                </form>
                <form action="{% url 'prestamos' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden"  name="loanid" value={{loan.id}}>
                  <button type="submit" name="deleteloanbtn" class="btn btn-danger m-1"><i class="fas fa-trash-alt"></i></button>
                </form>
                </div></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-dark">1</button>
          <button type="button" class="btn btn-dark">2</button>
          <button type="button" class="btn btn-dark">3</button>
          <button type="button" class="btn btn-dark">4</button>
        </div>
      </div>
  </div>
<!-- Bootstrap Bundle with Popper javascrip-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
{% if i %}
  <script>
    var myModal = new bootstrap.Modal(document.getElementById("infoloanmodal"), {});
    document.onreadystatechange = function () {
    myModal.show();
    };
  </script>
{% endif %} 
{% if dl %}
  <script>
    var myModal = new bootstrap.Modal(document.getElementById("mdeleteloan"), {});
    document.onreadystatechange = function () {
    myModal.show();
    };
  </script>
{% endif %} 
</body>
</html>