{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!--mine css-->
    <link rel="stylesheet" href="{% static 'css/user_css.css' %}">
    <!--asomefont-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css" integrity="sha512-wDB6AYiYP4FO5Sxieamqy9wtpAY3qdHMqlhZecIEUu1YjkLw5gQf/4ZDgOzmCBAF5SheMjmugkpUSVoUrGbLkQ==" crossorigin="anonymous" />
    <title>Document</title>
</head>
<body>
    <h1>register</h1>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {{form}}
        {{form1}}
        <input type="submit" value="submit">
    </form>
    <div class="form-group">
        // first_name is the name by which first name is created in django forms
        {% render_field form.email|attr:"type=text"|attr:"class=form-control" %}
      </div>
        
      <div class="form-group">
         // last_name is the name by which last name is created in django forms
        {% render_field form.first_name|attr:"type=text"|attr:"class=form-control" %}
      </div>
        
      <div class="form-group">
         // username is the default name of username in django forms
        {% render_field form.username|attr:"type=text"|attr:"class=form-control" %}
      </div>
        
      <div class="form-group">
         // password1 is the default name of password in django forms
        {% render_field form.password1|attr:"type=password"|attr:"class=form-control" %}
      </div>
        
      <div class="form-group">
         // password2 is the default name of confirm password in django forms
        {% render_field form.password2|attr:"type=password"|attr:"class=form-control"%}
      </div>
        
      <div>
        <button type="submit" value="Submit" > Register </button>
      </div>
    
</body>
</html>