{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!--mine css-->
    <link rel="stylesheet" href="{% static 'css/user_css.css' %}">
    <!--asomefont-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-1/css/all.min.css" integrity="sha512-wDB6AYiYP4FO5Sxieamqy9wtpAY3qdHMqlhZecIEUu1YjkLw5gQf/4ZDgOzmCBAF5SheMjmugkpUSVoUrGbLkQ==" crossorigin="anonymous" />
    <title>user</title>
</head>
<body>
     <!--navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><h4 class="h3 neon">書店</h4></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./administracion.html"><h5 class="h5">Inicio</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./libros.html"><h5 class="h5">Libros</h5></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./prestamos.html"><h5 class="h5">Prestamos</h5></i></a>
          </li>
          <li>
            <form class="d-flex mx-lg-4 ">
                <input class="form-control me-2 sch" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success schbtn" type="submit"><i class="fas fa-search"></i></i></button>
              </form>
          </li>
        </ul>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle schbtn fas fa-cogs" data-bs-toggle="dropdown" aria-expanded="false">
          </button>
          <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Ntdoc" ><i class="fas fa-plus"></i> tipo de documento</a></li>
          </ul>
          <button type="button" class="btn btn-info schbtn"data-bs-toggle="modal" data-bs-target="#mnuevousuario" ><i class="fas fa-user-plus"></i> Nuevo usuario</button>
        </div>
      </div>
    </div>
  </nav> 
  <h3 class="h3">{{ note }}</h3>
<!-- Modal user -->
<div class="modal fade" id="mnuevousuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title h3 text-center" id="staticBackdropLabel">Nuevo usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-bgi">
        <form action="{% url 'usuarios' %}" method="post">
          {% csrf_token %}
          <div class="row m-2">
            <div class="col">
              {% render_field usuarioform.document_user class="form-control" placeholder="Nuemero de documento" %}
            </div>
            <div class="col">
              {% render_field usuarioform.fk_type_document class="form-select" placeholder="tipo de documento" %}
            </div>
          </div>
          <div class="row m-2">
            <div class="col">
              {% render_field usuarioform.first_name class="form-control" placeholder="Primer Nombre" %}
            </div>
            <div class="col">
              {% render_field usuarioform.sec_name class="form-control" placeholder="Segundo Nombre" %}
            </div>
          </div>
          <div class="row m-2">
            <div class="col">
              {% render_field usuarioform.surname class="form-control" placeholder="Primer apellido" %}
            </div>
            <div class="col">
              {% render_field usuarioform.sec_surname class="form-control" placeholder="Segundo apellido" %}
            </div>
          </div>
          <div class="row m-2">
            <div class="col">
              {% render_field usuarioform.password_ad class="form-control" placeholder="contraseña" %}
            </div>
            <div class="col">
              {% render_field usuarioform.email class="form-control" placeholder="correo" %}
            </div>
          </div>
          <div class="row m-2">
            <div class="col">
              {% render_field usuarioform.address class="form-control" placeholder="Direccion" %}
            </div>
            <div class="col">
              {% render_field usuarioform.cell_phone class="form-control" placeholder="telfono" %}
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
        <button type="button" class="btn btn-primary mb-2 arttoc"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
        <button type="submit" name="userformbtn1" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div> 
<!--Modal modify user-->
<div class="modal fade" id="mmodifyusuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title h3 text-center" id="staticBackdropLabel">Editar usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-bgi">
        <form action="{% url 'usuarios' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="clientid" value={{pk_client}}>
        <div class="row m-2">
          <div class="col">
            {% render_field modify_form.document_user class="form-control" placeholder="Nuemero de documento" %}
          </div>
          <div class="col">
            {% render_field modify_form.fk_type_document class="form-select" placeholder="tipo de documento" %}
          </div>
        </div>
        <div class="row m-2">
          <div class="col">
            {% render_field modify_form.first_name class="form-control" placeholder="Primer Nombre" %}
          </div>
          <div class="col">
            {% render_field modify_form.sec_name class="form-control" placeholder="Segundo Nombre" %}
          </div>
        </div>
        <div class="row m-2">
          <div class="col">
            {% render_field modify_form.surname class="form-control" placeholder="Primer apellido" %}
          </div>
          <div class="col">
            {% render_field modify_form.sec_surname class="form-control" placeholder="Segundo apellido" %}
          </div>
        </div>
        <div class="row m-2">
          <div class="col">
            {% render_field modify_form.password_ad class="form-control" placeholder="contraseña" %}
          </div>
          <div class="col">
            {% render_field modify_form.email class="form-control" placeholder="correo" %}
          </div>
        </div>
        <div class="row m-2">
          <div class="col">
            {% render_field modify_form.address class="form-control" placeholder="Direccion" %}
          </div>
          <div class="col">
            {% render_field modify_form.cell_phone class="form-control" placeholder="telfono" %}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
        <button type="button" class="btn btn-primary mb-2 arttoc"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
        <button type="submit" name="usermodifyformbtn2" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
      </form>
      </div>
    </div>
  </div>
</div> 
<!--modal tdoc-->
<div class="modal fade" id="Ntdoc" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir tipo de documento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-tipod">
        <div class="row m-2">
          <form action="{% url 'usuarios' %}" method="post">
            {% csrf_token %}
            <div class="col m-2">
              {% render_field documentoform.nomb_type_document class="form-control col" placeholder="Tipo de documento" %}
            </div>
            <div class="col m-2">
              {% render_field documentoform.acronym_doc class="form-control col" placeholder="Siglas" %}
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fas fa-trash"></i> Cancelar</button>
        <button type="button" class="btn btn-primary"><i class="fas fa-id-badge"></i> Guardar y añadir otro</button>
        <button type="submit"  name="Documenttypeformbtn1" class="btn btn-success mb-2"><i class="fas fa-save"></i> Guardar</button>
      </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal delete user? -->
<div class="modal fade" id="mdeleteuser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-delete">
        <form action="{% url 'usuarios' %}" method="post">
         {% csrf_token %}
         <input type="hidden" name="clientid" value={{pk_client}}>
        <h4 class="h4">Esta a pundo de eliminar el usuario: {{delte_client.document_user}} {{delte_client.first_name}} {{delte_client.surname}} </h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" name="confirdeletebtn1" class="btn btn-danger">Eliminar</button>
      </form>
      </div>
    </div>
  </div>
</div>
<!--table-->
<div class="container-fluid mt-2">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">N° DOCUMENTO</th>
        <th scope="col">NOMBRES</th>
        <th scope="col">APELLIDOS</th>
        <th scope="col">CORREO</th>
        <th scope="col">DIRECCION</th>
        <th scope="col">TELEFONO</th>
        <th scope="col">OPCIONES <i class="fas fa-sync-alt"></i></th>
      </tr>
    </thead>
    <tbody>
      {% for client in clients.all %}
      <tr>
        <th scope="row">{{client.id}}</th>
        <td>{{client.fk_id_user.document_user}}</td>
        <td>{{client.fk_id_user.first_name}} {{client.fk_id_user.sec_name|default_if_none:""}}</td>
        <td>{{client.fk_id_user.surname}} {{client.fk_id_user.sec_surname|default_if_none:""}}</td>
        <td>{{client.fk_id_user.email}}</td>
        <td>{{client.fk_id_user.address}}</td>
        <td>{{client.fk_id_user.cell_phone}}</td>
        <td>
          <form acion="{% url 'usuarios' %}#mmodifyusuario" method="get">
            <input name="clientid" id="clientid" type="hidden" value={{client.id}}>
            <button type="submit" name="showinfouserbtn1" data-bs-toggle="modal" data-bs-target="#mmodifyusuario" class="btn btn-warning"><i class="fas fa-user-edit"></i></button>
            <button type="submit" name="deleteuserbtn1"class="btn btn-danger"><i class="fas fa-user-alt-slash"></i></button>
          </form>
            </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- Bootstrap Bundle with Popper javascrip-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
{% if p  %}
  <script>
    var myModal = new bootstrap.Modal(document.getElementById("mmodifyusuario"), {});
    document.onreadystatechange = function () {
   myModal.show();
    };
  </script>
{% endif %}
{% if d  %}
  <script>
    var myModal = new bootstrap.Modal(document.getElementById("mdeleteuser"), {});
    document.onreadystatechange = function () {
   myModal.show();
    };
  </script>
{% endif %}
</body>
</html>