.hallo{
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 25px;
    width: 25rem;
}
.avatar{
 max-height: 250px;
}
.fcc{
 width: 17rem;
}
.clbto{
    background-color: rgb(85, 85, 85);
    border-color: rgb(85, 85, 85);
}
.clbto:hover{
    background-color: rgb(73, 73, 73);
    border-color:rgb(73, 73, 73) ;
}
.gbtn{
    background-color: rgb(126, 85, 25);
    border-color: rgb(126, 85, 25);
}
.gbtn:hover{
   background-color:rgb(175, 119, 34);
   border-color: rgb(175, 119, 34);
}