.hallo{
    background-color: rgba(190, 108, 238, 0.589);
    border-radius: 25px;
    width: 25rem;
}
.avatar{
 max-height: 270px;
}
.fcc{
 width: 17rem;
}
.clbto{
    background-color: rgb(29, 125, 204);
    border-color: rgb(29, 125, 204);
}
.clbto:hover{
    background-color: rgb(84, 166, 233);
    border-color:rgb(84, 166, 233) ;
}
.gbtn{
    background-color: rgb(129, 24, 161);
    border-color: rgb(129, 24, 161);
}
.gbtn:hover{
   background-color:rgb(185, 48, 226);
   border-color: rgb(185, 48, 226);
}
.backimg{
    background-image: url(https://wallpaperaccess.com/full/3358157.jpg);
}