.neon {
    color: rgb(255, 255, 255);
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px rgb(255, 0, 0),
      0 0 80px rgb(255, 0, 0),
      0 0 90px rgb(255, 0, 0),
      0 0 100px rgb(255, 0, 0),
      0 0 150px rgb(255, 0, 0);
 }
 .schbtn{
background-color: rgb(71, 2, 2);
border: none;
color: white;
}
.schbtn:hover{
    background-color: rgb(133, 3, 3);
    color: white;
}